line {
    stroke: purple; /* Change the color to purple */
    stroke-width: 2;
    marker-end: url(#arrowhead);
  }

  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .svg-canvas {
    position: relative;
    width: calc(100% - 100px);
    height: 100%;
  }